*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #Edeae5;
    color: black;
}
header{
    background: #3E3737;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.escudo{
    position: float;
    float: left;
    margin-right: 1400px;
}
nav{
    display: flex;
    justify-content: right; 
    align-items: center;
}
ul{
    display: flex;
}
li{
    margin-right: 25px;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: #35ca62;
    filter: drop-shadow(0 0 0.1rem rgb(53, 202, 98));
}
#imgpri{
    width: 450px;
    height: 436px;
    border-radius: 50%;
    margin: 200px 125px 200px 200px;
}
#til1{
    font-family: Kaisei Opti;
    font-size: 64px;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Principal{
    display: flex;
    text-align: center;
}
#text{
    display: block;
    margin-top: 360px;
}