*{
    margin: 0px;
    padding: 0px;
    font-family: Kaisei Opti;
}
body{
    background-color: #Edeae5;
    color: black;
}
header{
    background: #3E3737;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.escudo{
    position: float;
    float: left;
    margin-right: 1400px;
}
nav{
    display: flex;
    justify-content: right; 
    align-items: center;
}
ul{
    display: flex;
}
li{
    margin-right: 25px;
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: #35ca62;
    filter: drop-shadow(0 0 0.1rem rgb(53, 202, 98));
}
.imagenes{
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 6px 8px 21px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 8px 21px -3px rgba(0,0,0,0.69);
    box-shadow: 6px 8px 21px -3px rgba(0,0,0,0.69);
}
.pri{
    display: flex;
    margin-left: 227px;
    margin-top: 145px;
    margin-bottom: 50px;
}
.titulo_ima{
    margin-right: 127px;
    margin-top: 40px;
    max-width: 200px;
    text-align: center;
}
.conte{
    display: block;
    margin-left: 127px;
}
h1{
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kaisei Opti;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 75px 0px 0px 0px;
}
